@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
:root{
    --blue:#3c6382;
    --dark-blue:#0a3d62;
    --number-font: 'Marck Script', cursive;
    --plain: 'Bree Serif', serif;
    --welcome: 'Style Script', cursive;;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: #0a3d62;
    text-align: center;
}
p{
    font-family: 'Poppins', sans-serif;
    color: #2d5c83;
    text-align: center;
    font-weight: bold;
}